body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    --color: #FFEEA9;
    background-color: #FEFFD2;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
                        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 55px 55px;
    }
    100% {
        background-position: 0 0;
    }
}

#quiz-container, #congratulations {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #FF7D29;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    background-color: #FFBF78;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dba669;
}

.hidden {
    display: none;
}
